.idea
contract_web3/simpleNumber/web3js0/online/node_modules
contract_web3/simpleNumber/web3js0/online/package-lock.json
contract_web3/simpleNumber/web3js0/offline/node_modules
contract_web3/simpleNumber/web3js0/offline/package-lock.json
