<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User List</title>
  <link rel='stylesheet' href='/bootstrap-3.3.7/css/bootstrap.css' />
</head>
<body>
<script src="/javascript/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.js" type="text/javascript"></script>

<div> <a href="/users/register"> User Register</a></div>
<div><a href="/users/list"> User List</a></div>
<div><a href="/ntf/addcard"> Add Card</a></div>
<div><a href = "/ntf/cardlist"> Card List</a></div>
<div>
	<ul>
		<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/blog">blog</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/navbar">navbar</a>
</li>
<li>

			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/sticky-footer">sticky-footer</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/carousel">carousel</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/navbar-fixed-top">navbar-fixed-top</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/sticky-footer-navbar">sticky-footer-navbar</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/cover">cover</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/navbar-static-top">navbar-static-top</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/theme">theme</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/dashboard">dashboard</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/non-responsive">non-responsive</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/tooltip-viewport">tooltip-viewport</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/grid">grid</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/offcanvas">offcanvas</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/jumbotron">jumbotron</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/jumbotron-narrow">jumbotron-narrow</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/signin">signin</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/justified-nav">justified-nav</a>
</li>
<li>
			<a href = "/bootstrap-3.3.7-sample/bootstrap-3.3.7/docs/examples/starter-template">starter-template</a>

		</li>
	</ul>
</div>
  </body>
</html>
