<!DOCTYPE html>
<html>
<head>
    <title>User Register</title>
    <link rel='stylesheet' href='/bootstrap-3.3.7/css/bootstrap.css' />
</head>
<body>
<form action="/users/register" method="post">
    <div><input type="text" name="user_name" placeholder="Username" /></div>
    <div><input type="password" name="user_pass" placeholder="Password"/></div>
    <div><input type="submit" value="Sign up"/></div>
</form>
</body>
</html>